In [1]:
import os;

In [6]:
import pandas as pd
pd.read_parquet('test.parquet', engine='pyarrow')

,timestamp,symbol,bid_price,bid_size,ask_price,ask_size,market_period,trade_price,trade_volume,type
0,2024-01-22 05:04:15,KPL,15.05,112.0,15.15,18.0,,NaN,NaN,Quote
1,2024-01-22 08:30:19,KPL,15.05,112.0,15.20,82.0,COCA,NaN,NaN,Quote
2,2024-01-22 08:30:19,KPL,15.05,112.0,15.15,18.0,COCA,NaN,NaN,Quote
3,2024-01-22 08:30:22,KPL,15.00,502.0,15.15,18.0,COCA,NaN,NaN,Quote
4,2024-01-22 08:30:22,KPL,15.05,112.0,15.15,18.0,COCA,NaN,NaN,Quote
...,...,...,...,...,...,...,...,...,...,...
645580,2024-01-22 16:24:00,BBT,NaN,NaN,NaN,NaN,None,10.55,150.0,Trade
645581,2024-01-22 16:24:00,BBT,NaN,NaN,NaN,NaN,None,10.50,10.0,Trade
645582,2024-01-22 16:24:00,BBT,NaN,NaN,NaN,NaN,None,10.50,20.0,Trade
645583,2024-01-22 16:24:00,BBT,NaN,NaN,NaN,NaN,None,10.50,80.0,Trade
645584,2024-01-22 16:50:00,BBT,10.50,815.0,10.70,5.0,CLCA,NaN,NaN,Quote

In [5]:


dir(aggregator)

['Aggregate',
 'Aggregator',
 'Filter',
 'NamedTuple',
 'NoopFilter',
 'Quote',
 'Trade',
 'WallClockSliceSchedule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abstractmethod',
 'pd',
 'time',
 'timedelta']

In [2]:
import sys
sys.path.append('python')
import aggregator
import filters


class volumeAggregate(aggregator.Aggregate):
    def __init__(self):
        self.volume = 0

    def on_quote(self, quote):
        pass

    def on_trade(self, trade):
        self.volume += trade.trade_volume

    def compute_slice(self, slice):
        ret = self.volume
        self.volume = 0
        return ret


agg = aggregator.Aggregator("WSE_marketdata.parquet","WSE_symbology.parquet", filters.SymbolFilter('PKO'))
agg.registerAggregate(volumeAggregate)
agg.run()

   symbol     slice aggregate     value
0     PKO  09:00:00    volume       0.0
1     PKO  09:05:00    volume  100989.0
2     PKO  09:10:00    volume   16314.0
3     PKO  09:15:00    volume  159776.0
4     PKO  09:20:00    volume  113276.0
..    ...       ...       ...       ...
78    PKO  15:30:00    volume    9423.0
79    PKO  15:35:00    volume   17653.0
80    PKO  15:40:00    volume   16664.0
81    PKO  15:45:00    volume   23848.0
82    PKO  15:50:00    volume   10845.0

[83 rows x 4 columns]