In [1]:
import os;

In [4]:
import pandas as pd
pd.read_parquet('test.parquet', engine='pyarrow')

,timestamp,bid_price,bid_size,ask_price,ask_size,market_period,trade_price,trade_volume,type
0,2024-01-22 05:04:15,0.00,0.0,0.00,0.0,HALT,NaN,NaN,Quote
1,2024-01-22 05:04:15,2.00,100.0,11.20,91.0,,NaN,NaN,Quote
2,2024-01-22 08:30:12,2.00,100.0,11.20,168.0,COCA,NaN,NaN,Quote
3,2024-01-22 10:09:36,2.00,100.0,9.50,105.0,COCA,NaN,NaN,Quote
4,2024-01-22 05:04:15,25.60,1.0,26.60,425.0,,NaN,NaN,Quote
...,...,...,...,...,...,...,...,...,...
645580,2024-01-22 16:46:16,9.65,16.0,9.85,24.0,COCO,NaN,NaN,Quote
645581,2024-01-22 16:46:16,9.05,115.0,9.85,8.0,COCO,NaN,NaN,Quote
645582,2024-01-22 16:46:16,9.05,115.0,9.90,159.0,COCO,NaN,NaN,Quote
645583,2024-01-22 16:54:53,9.60,790.0,9.90,159.0,CLCA,NaN,NaN,Quote
645584,2024-01-22 16:59:05,9.05,115.0,9.90,159.0,CLCA,NaN,NaN,Quote

In [5]:


dir(aggregator)

['Aggregate',
 'Aggregator',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abstractmethod']

In [3]:
import sys
sys.path.append('/Users/annakapka/code/rust/marketdata/python')
import aggregator


class testAggregate(aggregator.Aggregate):
    def __init__(self):
        self.index = 0
        self.trade_index=0
    
    def on_quote(self, quote):
        if self.index < 10 == 0:
            
            
            print(f"Quote just happened {quote}")
    
    def on_trade(self, trade):
        self.trade_index += 1
        if self.trade_index < 10 == 0:
            print(f"Trade just happened {trade}")


agg = aggregator.Aggregator("test.parquet")
agg.registerAggregate(testAggregate())
agg.run()

#agg.getAggregates()